.overall {
  background-image: linear-gradient(
    rgba(241, 241, 241, 0.788),
    rgb(238, 182, 0)
  );
}

.stats {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 9;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 1vw;
}
.stats2 {
  font-family: 'Poppins', sans-serif;
  width: 400px;
  height: 150px;
  background: rgba(0, 0, 0, 0.699);
  border-radius: 10px;
  margin-top: 40px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 1vw;
}
